.footer__menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
}

.footer__menu-link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .footer__menu-link {
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
  }

  .footer__menu-link:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__menu-link {
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
  }

  .footer__menu-link:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__menu-link {
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
  }

  .footer__menu-link:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .footer__menu-link {
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
  }

  .footer__menu-link:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 424px) {
  .footer__menu-link {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }

  .footer__menu-link:last-child {
    padding-bottom: 0px;
  }
}