.footer__menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  color: #FFFFFF;
}

.footer__menu-link:hover {
  opacity: 0.8;
}

.footer__menu-link:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  .footer__menu-link {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }

  .footer__menu-link:last-child {
    padding-bottom: 0px;
  }
}