.lead__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  width: 100vw;
  max-width: 640px;
  margin-top: 32px;
  margin-bottom: 56px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .lead__subtitle {
    font-size: 25px;
    line-height: 30px;
    width: 78.75%;
    max-width: 768px;
    margin-top: 20px;
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 424px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin-top: 16px;
    margin-bottom: 40px;
  }
}